 body{
    background-color: rgb(163, 211, 194);

} 


img.png{
 display: inline;
     
}






li{
    display: inline-table;
    padding: 3%;
    
    
}

ul{
direction: rtl;


}
h2{
    padding: 2%;
    direction: rtl;
}


